.UserInput {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

#no-margin-bottom {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  display: grid;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 12px 16px;
  margin: 5px auto 0 auto;
  cursor: pointer;
}